.aside-time-wrapper {
    border: 1px solid red;
    justify-content: center;
    display: flex;
}

.aside-time-wrapper__container {
    width: 70vw;
    border: 1px solid blue;
}

.aside-time {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
    row-gap: 1.563em;
    column-gap: 1.25em;
}

.aside-time__item {
    border: 1px solid black;
    display: flex;
}

.aside-time__text {
    border: 1px solid black;
    align-self:center;
    font-family: 'Montserrat';
    color: #334155;
    font-size: 0.875em;
    margin-left: 20px;
}

@media screen and (max-width: 960px) {
    .aside-wrapper__container {
        width: 90vw;
        border: 1px solid blue;
    }
    .aside-time {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 0.813em;
        column-gap: 1.25em;
    }

    .aside-time__item {
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .aside-time__text {
        border: 1px solid black;
        font-family: 'Montserrat';
        color: #334155;
        font-size: 0.625em;
        text-align: center;
        margin-left: 0;
    }

    .aside-time__img {
        display: block;
        width: 57px;
    }
}


@media screen and (min-width: 961px) and (max-width: 1024px){
    .aside-wrapper__container {
        width: 80vw;
        border: 1px solid blue;
    }
    .aside-time {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 1.25em;
        column-gap: 1.25em;
    }

    .aside-time__item {
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .aside-time__text {
        border: 1px solid black;
        font-family: 'Montserrat';
        color: #334155;
        font-size: 0.875em;
        text-align: center;
        margin-left: 0;
    }

    .aside-time__img {
        display: block;
        width: 76px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1919px) {
    .aside-time {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 1.563em;
        column-gap: 1.25em;
    }

    .aside-time__img {
        display: block;
        width: 76px;
    }

    .aside-wrapper__container {
        width: 80vw;
        border: 1px solid blue;
    }
}