.form-wrapper {
  justify-content: center;
  display: flex;
}
.form {
  background-color: #8081bd;
  color: #ffffff;
  border-radius: 20px;
  height: 35vh;
  max-width: 100%;
  margin-top: 5vh;
  margin-bottom: 5vh;
  display: grid;
  grid-template-columns: 10vw 1fr 1fr 10vw;
}
.input-container {
  grid-column: 2 / 3;
  display: grid;
  height: 35vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 23% 26% 13% 10% 5% 23%;
}
.image-container {
  grid-column: 3 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-text1 {
  grid-area: 2 / 1 / 3 / 3;
  margin: 0;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5rem;
}
.form-text2 {
  grid-area: 3 / 1 / 4 / 3;
  margin: 0;
}
.input-box {
  grid-area: 4 / 1 / 5 / 2;
}
.accept {
  grid-area: 5 / 1 / 6 / 2;
  font-size: 0.8rem;
}
.form__button {
  grid-area: 4 / 2 / 5 / 3;
}
.input-data {
  display: flex;
  border-style: none;
  padding: 0.5rem 1.2rem;
  border-radius: 1vw;
  width: 15vw;
  margin: 0.5vh;
  font-size: 0.8rem;
}
.form__button .input-data {
  background-color: #f6b31f;
  color: #ffffff;
  text-align: center;
}
.form__image1 {
  display: flex;
  width: 35vw;
  position: relative;
}
/* ========МЕДИАЗАПРОСЫ============== */
/*
@media screen and (max-width: 960px) {
  .form-wrapper {
    justify-content: center;
    display: flex;
    max-height: 60vh;
    min-width: 100vw;
    padding: 10px;
  }
  .form {
    background-color: #8081bd;
    color: #ffffff;
    border-radius: 20px;
    height: fit-content;
    max-width: 100%;
    margin: 10px;
    display: grid;
    grid-template-columns: 5vw 1fr 5vw;
  }
  .input-container {
    grid-column: 2 / 3;
    display: grid;
    height: 35vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 23% 26% 13% 10% 5% 23%;
  }
  .image-container {
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form-text1 {
    grid-area: 2 / 1 / 3 / 3;
    margin: 0;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.5rem;
  }
  .form-text2 {
    grid-area: 3 / 1 / 4 / 3;
    margin: 0;
  }
  .input-box {
    grid-area: 4 / 1 / 5 / 2;
  }
  .accept {
    grid-area: 5 / 1 / 6 / 2;
    font-size: 0.8rem;
  }
  .form__button {
    grid-area: 4 / 2 / 5 / 3;
  }
  .input-data {
    display: flex;
    border-style: none;
    padding: 0.5rem 1.2rem;
    border-radius: 1vw;
    width: 15vw;
    margin: 0.5vh;
    font-size: 0.8rem;
  }
  .form__button .input-data {
    background-color: #f6b31f;
    color: #ffffff;
    text-align: center;
  }
  .form__image1 {
    display: flex;
    width: 70vw;
  }
} */
