.header-container{
    align-content: center;
    display: grid;
    grid-template-areas: auto 1fr / 0.5fr 1.5fr auto 1fr;
    margin: auto;
    margin-bottom: 1vh;
    max-width: 1900px;
    min-height: 5vh;
}
.header-address {
    align-content: center;
    color: #EA5D4A;
    column-gap: 2vw;
    display: grid;
    font-size: 0.7rem;
    grid-auto-flow: column;
    justify-content: flex-end;
    min-height: 3vh;
    padding: 0 2vw;
}
.header-address__metrostation {
  color: cornflowerblue;
}
.header-panel {
    align-items: center;
    display: grid;
    grid-template-areas:
        "logo-nav navbar header__contacts button-header";
    justify-content: space-around;

}

.logo-nav {
    grid-area: logo-nav;
    margin: 0 auto;
    width: 8vw;

}
.navbar{
    display: flex;
    grid-area: navbar;
    justify-content: center;
    padding: 0 1vw 0 1vw;


}
.navbar-link{
    color: #334155;
    font-size: 1rem;
    padding: 0 0.4vw;
    text-decoration: none;


}

.icon_phone {
  grid-area: icon_phone;
  padding: 0 1vw;
}

.header__tel{
    font-weight: 600;
    padding: 0 1vw 0 1vw;
}

.header__contacts {
    align-content: center;
    display: grid;
    grid-area: header__contacts;
    grid-template-areas:
    "icon_phone header__tel vk tg"
    "call call call call";
    grid-template-columns: 1vw auto 0.2fr 0.2fr;
    grid-template-rows: 0.5fr 0.5fr;
    font-size: 0.8rem;
}

.vk {
    grid-area: vk;
    padding: 0 0.5vw;
}


.tg {
    grid-area: tg;
    padding: 0 0.5vw;
}


.call {
    color: #EA5D4A;
    font-size: 0.8rem;
    grid-area: call;
    padding: 0 1vw;
}


.button-header {
    background-color: #8081bd;
    border-radius: 1.3vw;
    border-style: none;
    color: #ffffff;
    display: flex;
    flex-wrap: nowrap;
    font-size: 0.8rem;
    grid-area: button-header;
    justify-content: center;
    margin: 0.2vw;
    max-width: 12vw;
    padding: 0.5vw 0.7vw;
}




.burger, [for=burger]{
    display: none;
}

/* МЕДИАЗАПРОСЫ */
/* ================================================================= */

@media (min-width: 991px) and (max-width: 1199px){
    .header-container{
        align-content: center;
        display: grid;
        grid-template-areas:
        "header-address header-address"
        "header-panel header-panel";
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: auto 1fr;
        margin-bottom: 1vh;
        margin: auto;
        max-width: 1900px;
        min-height: 3vh;

    }
    .header-address {
        align-items: center;
        color: #EA5D4A;
        display: flex;
        font-size: 0.6rem;
        grid-area: header-address;
        justify-content: center;
        padding: 0 2vw;
    }

    .header-address__metrostation {
        color: cornflowerblue;
        grid-area: header-address__metrostation;
    }

    .header-panel {
        align-items: center;
        display: grid;
        grid-area: header-panel;
        grid-template-areas:
        "logo-nav navbar button-header";
        justify-content: space-around;
    }
   
    .header__contacts {
        display: none;
    }

    .logo-nav {
        grid-area: logo-nav;
        margin: 0 auto;
        width: 10vw;

    }
   
    .navbar-link{
        color: #334155;
        font-size: 0.7rem;
        padding: 0 1.2vw;
        text-decoration: none;
    }
    .icon_phone {
      grid-area: icon_phone;
      padding: 0 1vw;
    }
    .header__tel{
        padding: 0 1vw 0 1vw;
    }
   
    .vk {
        grid-area: vk;
        padding: 0 0.5vw;
    }
   
    .tg {
        grid-area: tg;
        padding: 0 0.5vw;
    }
   
    .call {
        color: #EA5D4A;
        font-size: 0.7rem;
        grid-area: call;
        padding: 0 1vw;
    }
   
    .button-header {
        background-color: #8081bd;
        border-radius: 1.3vw;
        border-style: none;
        color: #ffffff;
        display: flex;
        font-size: 0.7rem;
        grid-area: button-header;
        max-width: 50vw;
        padding: 0.5vw 1vw;
    }
   
    .burger, [for=burger]{
        display: none;
    }
}


@media (min-width: 771px) and (max-width: 990px){


    .header-container{
        align-content: center;
        display: grid;
        grid-template-areas:
        "header-address header-address"
        "header-panel header-panel";
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: auto 1fr;
        margin-bottom: 1vh;
        margin: auto;
        max-width: 1900px;
        min-height: 3vh;

    }
    .header-address {
        align-items: center;
        color: #EA5D4A;
        font-size: 0.6rem;
        display: flex;
        grid-area: header-address;
        justify-content: center;
        padding: vh 2vw;
    }

    .header-address__metrostation {
        color: cornflowerblue;
        grid-area: header-address__metrostation;
    }

    .header-panel {
        align-items: center;
        display: grid;
        grid-area: header-panel;
        grid-template-areas:
        "logo-nav navbar button-header";
        justify-content: space-around;
    }
   
    .header__contacts {
        display: none;
    }

    .logo-nav {
        grid-area: logo-nav;
        margin: 0vw auto;
        width: 10vw;

    }
   
    .navbar-link{
        color: #334155;
        font-size: 0.7rem;
        padding: 0 1.2vw;
        text-decoration: none;
    }
    .icon_phone {
      grid-area: icon_phone;
      padding: 0 1vw;
    }
    .header__tel{
        padding: 0 1vw 0 1vw;
    }
   
    .vk {
        grid-area: vk;
        padding: 0 0.5vw;
    }
   
    .tg {
        grid-area: tg;
        padding: 0 0.5vw;
    }
   
    .call {
        color: #EA5D4A;
        font-size: 0.7rem;
        grid-area: call;
        padding: 0 1vw;
    }
   
    .button-header {
        background-color: #8081bd;
        border-radius: 1.3vw;
        border-style: none;
        color: #ffffff;
        display: flex;
        font-size: 0.6rem;
        grid-area: button-header;
        max-width: 50vw;
        padding: 0.5vw 1vw;
    }
   
    .burger, [for=burger]{
        display: none;
    }
}


    @media screen and (max-width: 770px){

    .header-address,
    .header-address__metrostation,
    .icon_phone,
    .header__tel,
    .call {
        display: none;
    }
   
    .header-container{
        align-content: center;
        display: grid;
        max-width: 100%;
        padding: 0;
        
    }
   
    .header-panel {
        align-items: center;
        display: grid;
        grid-template-areas:
        "logo-nav header__contacts burger"
        "button-header button-header button-header";
        grid-template-columns: 1fr 0.5fr 0.5fr;
        grid-template-rows: 1fr 1fr;
        justify-items: stretch;
        position: relative;
        top: 0;
        right: 0;
        width: 100%;

    }
   
    .logo-nav {
        grid-area: logo-nav;
        margin-left: 0;
        width: 35vw;
    }
   
    .header__contacts{
        grid-area: header__contacts;
        padding: 0 0.3vw;
       
    }


    .vk {
        grid-area: vk;
        margin-right: 2vw;
        width: 6vw;
    }
   
    .tg {
        grid-area: tg;
        width: 5vw;
    }
   
    [for=burger]{
        color: #e21811;
        cursor: pointer;
        display: block;
        font-size: 2.5em;
        justify-items: center;
        margin-top: 1.5vw;
        padding: 0 1vw;
        position: absolute;
        right: 0;
        top: 0;
        text-align: center;
    }

    [for=burger]::before{
content: "ⓧ";
    }
   
    .navbar {
    /* display: none; */
    background:#8081bdce;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 70px;
    position: fixed;
    top: 0;
    user-select: none;
    width: 75%;
    z-index: 10;
    }


    .navbar-link {
    color: #ffffff;
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 1rem;
    text-align: center;
    text-decoration: none;  
    padding: 15px;
    }


    .burger:checked + label + nav{
    display: none;
    }


    .burger:checked + [for=burger]::before{
        content: "☰";
    }


    .button-header {
        color: #ffffff;
        background-color: #EA5D4A;
        border-radius: 5vw;
        border-style: none;
        display: flex;
        font-size: 0.8rem;
        grid-area: button-header;
        justify-items: stretch;
        padding: 2vw 0vw;
        margin: 1vw 0;
        max-width: 100%;

    }

}
