/* преимущества Айгуль */

.section-advantages{
    min-width: 74vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 76px) ;
    gap: 20px;
    margin-top: 6.375 em;
    margin-bottom: 3.3 em;
}
.section-advantages__item {
        display: flex;
    min-height: 76px;
    }
.section-advantages__box {
    min-width: 76px;
    max-height: 76px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin-right: 1.25em;
}
.brown{
    background: darkorange;  
}
.pink{
    background: #F3ACC8;
}
.violet{
    background: #8081BD;
}
.blue {
    background: #8081BD;
}
.orange{
   background: #f6b31f ; 
}
.lightPink {
    background: #F3ACC8;
}
.section-advantages__img {
    align-self:center;
}
.section-advantages__text {
    align-self: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #334155;
}
