/* преимущества Айгуль */


.section-advantages__items{
    min-width: 74vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto) ;
    gap: 1em;
   
    margin-top: 6.375 em;
    margin-bottom: 3.3 em;
}
.section-advantages__item {
        display: flex;
    min-height: 13vh;
    }
.section-advantages__box {
    min-width: 7vw;
    min-height: 13vh;
    border-radius: 0.8em;
    display: flex;
    justify-content: center;
    margin-right: 1.25em;
}
.brown{
    background: darkorange;  
}
.pink{
    background: #F3ACC8;
}
.violet{
    background: #8081BD;
}
.blue {
    background: #8081BD;
}
.orange{
   background: #f6b31f ; 
}
.lightPink {
    background: #F3ACC8;
}
.section-advantages__img {
    align-self:center;
}
.section-advantages__text {
    align-self: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 0.9em;
    color: #334155;
}

@media screen and (max-width: 960px){
    .section-advantages__items{
        min-width: 74vw;
        display: grid;
        grid-template-columns:  1fr 1fr;
       row-gap: 0.8em;
       column-gap: 1.25em;
          }
  
.section-advantages__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-advantages__img {
    display: block;
    width: 57px;
}
.section-advantages__text {
align-self: center;
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 0.9em;
color: #334155;
}  
}
@media screen and (min-width: 961px) and (max-width: 1024px){
    .section-advantages__items{
        min-width: 74vw;
        display: grid;
        grid-template-columns:  1fr 1fr;
       row-gap: 1.25em;
       column-gap: 1.25em;
          }
  
.section-advantages__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-advantages__img {
    display: block;
    width: 76px;
}
.section-advantages__text {
align-self: center;
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 0.9em;
color: #334155;
}  
}
@media screen and (min-width: 1025px) and (max-width: 1919px){
    .section-advantages__items{
        min-width: 74vw;
        display: grid;
        grid-template-columns:  repeat(3, 1fr);
        row-gap: 1.563em;
        column-gap: 1.25em
          } 
          section-advantages__img {
            display: block;
            width: 76px;
        } 
}
