* {
    /* border: 1px dashed darkkhaki; */
}

.wrapper{
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    padding: 0.7vh 3vw;
}

.main{
    margin: auto;
    max-width: 1900px;

}
/* Yulia Header начало */
/* Yulia Header конец */

/* Yulia ВЕРХНИЙ БАННЕР С ФОРМОЙ ЗАПИСИ начало */
/* Yulia ВЕРХНИЙ БАННЕР С ФОРМОЙ ЗАПИСИ конец */








